<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <div class="about">
      <mat-card class="title"
        ><mat-icon>account_circle</mat-icon> Developer : Mizuho
        Okimoto</mat-card
      ><br />
      <mat-card-content>
        <p>
          Student at Seneca College
          <br />
          <br />
          Program: Computer Programming & Analysis
          <br />
          <br />
          Favorite Languages: JavaScript, Java, SQL
          <br />
          <br />
          LinkedIn Link:
          <a href="https://www.linkedin.com/in/mizuho-okimoto" target="_blank">
            https://www.linkedin.com/in/mizuho-okimoto</a
          >
          <br />
          <br />
          GitHub Link:
          <a href="https://github.com/MizuhoOkimoto" target="_blank"
            >https://github.com/MizuhoOkimoto</a
          >
          <br />
          <br />
        </p>
        <div class="project">
          <p>
            <mat-icon>bookmark_border</mat-icon>Have a look at my past projects
          </p>
          <hr />
        </div>
        <a href="https://airbnb-clone165.herokuapp.com/" target="_blank"
          ><img
            src="assets/Project_img.JPG"
            alt="projectimg"
            width="400"
            height="400"
        /></a>
        <br />
        - URL:
        <a href="https://airbnb-clone165.herokuapp.com/" target="_blank"
          >https://airbnb-clone165.herokuapp.com/</a
        >
        <br />
        - GitHub Repository:
        <a
          href="https://github.com/MizuhoOkimoto/Accomodation-booking-site"
          target="_blank"
          >https://github.com/MizuhoOkimoto/Accomodation-booking-site</a
        >
        <hr />
        <br />
        <button mat-button>Contact: Send me an email</button>
      </mat-card-content>
    </div>
  </body>
</html>
