<div class="row">
  <div class="aboutpage col-md-6">
    <h1>All about me - Developer</h1>

    <h2>Mizuho Okimoto</h2>
    <p>
      Job: Student (Computer Programming & Analysis)
      <br />
      <br />
      Favorite Languages: JavaScript, Java, SQL
      <br />
      <br />
      Current Goals: Earn all A grades / Get a Coop Interview...!
      <br />
      <br />
      LinkedIn Link:
      <a href="https://www.linkedin.com/in/mizuho-okimoto" target="_blank">
        https://www.linkedin.com/in/mizuho-okimoto</a
      >
      <br />
      <br />
      GitHub Link:
      <a href="https://github.com/MizuhoOkimoto" target="_blank"
        >https://https://github.com/MizuhoOkimoto</a
      >
      <br />
    </p>

    <Button mat-icon-button color="primary"> Send me an email </Button>
  </div>
  <div class="row">
    <div class="aboutpage2 col-md-6">
      <h3>Check the Project</h3>
      <a
        href="https://github.com/MizuhoOkimoto/Accomodation-booking-site"
        target="_blank"
        ><img
          src="assets/Project_img.JPG"
          alt="projectimg"
          width="400"
          height="400"
      /></a>
    </div>
  </div>
</div>
